/*salto de línea*/
@media screen and (min-width: 992px)
{
    .sdl
    {
        font-size: 0;
        display: block;
        margin-top: 80px;
    }
}
@media screen and (max-width: 991px)
{
    .sdl
    {
        font-size: 0;
        display: block;
        margin-top: 25px;
    }
}

/*Navbar*/
#header{position:fixed;width:100%;z-index: 1000;}
.link{
    color: #87c7be !important;
    text-decoration: none !important;
    font-size: 1em !important;
}
.link:hover
{
    color: #6c569f !important;
    text-decoration: none !important;

    border-bottom: 1px solid navy;

    transition: all 0.3s ease-out !important;

    font-size: 1.02em !important;

}

/*Imagen de fondo*/
.bg-img
{
    background-image: url(../img/ocp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    
}
.bg-txt
{
    color: #fff; /*Es temporal el color*/
    
}
.color{color: #6c569f;}
@media screen and (min-width:992px)
{
    .bg-txt-title
    {
        font-size: 5em;
        display: block;
        display: inline-block;
        line-height: 1.06em;
    }
}
@media screen and (max-width:991px)
{
    .bg-txt-title
    {
        font-size: 2em;
        display: block;
        display: inline-block;
    }
}

/*Listas*/
.lista{
    list-style: none; /* Quitamos los marcadores */
    padding: 0; /* Quitamos el padding por defecto de la lista */
    margin-left: 1em; /* Separamos la lista de la izquierda */
}

.lista li::before { /* Añadimos contenido antes de cada elemento de la lista */
    content: "\2022"; /* Insertamos el marcador */
    padding-right: 8px; /* Establecemos el espacio entre las viñetas y el list item */
    color: #6c569f; /* Coloreamos la viñeta */
}

.icon-link
{
    color: black;
    text-decoration: none;
}
.icon-link:hover
{
    color: #ccbff7;
    text-decoration: none;
    font-size: 3em;
    transition: all 0.03 ease-in;
}

.ListIcons
{
    margin-left: -10px;
}
.ListIcons ul{
    list-style: none;
}
.ListIcons ul li
{
    padding: 2px;
    margin-top: 20px;
}
.vh
{
    border-left:4px solid  #5a4785;float:left;
}

@media screen and (min-width: 992px)
{
    .map
    {
        width: 640px;
        height: 480px;
    }
}
.colores{/* color de los subtitulos */
    text-shadow: 5px 5px 5px #b2b1b6;
    color:#7f6eb8;
}
.degradado{
   background : linear-gradient(90deg, #59c7b8 70%, #fff);

}
 .fondo{ /* aun no lo uso en algo */
    background-image: url(../img/oc1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

 }

.infcolor{/*color de letra de las cards */
color:#87c7be;
}




