#header{position:fixed;width:100%;}
.link{
    color: #87c7be !important;
    text-decoration: none !important;
    font-size: 1em !important;
}
.link:hover
{
    color: #6c569f !important;
    text-decoration: none !important;

    border-bottom: 1px solid navy;

    transition: all 0.3s ease-out !important;

    font-size: 1.02em !important;

}
.section1
{
    background-image: url(../img/imgprueba.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   

  
}
